In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_date.head()

In [2]:
# Use len/value count on player ID to find unique palyers 
players_count = len(purchase_data["SN"].value_counts())

# Create a data frame with total players named player count
total_players_df = pd.DataFrame({"Total Players":[players_count]})
total_players_df

   Total Players
0            576

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.

#Unique Items
unique_items_count = len(purchase_data["Item ID"].value_counts())

# Average Price
avg_price=purchase_data["Price"].mean()

# Number of purchases
total_purchase=purchase_data["Purchase ID"].count()

#Total Revenue
tot_revenue=purchase_data["Price"].sum()

#Create a summary data frame to hold the results

sales_summary_df=pd.DataFrame({"Number of Unique Items":[unique_items_count],
                               "Average Price":[avg_price], 
                               "Number of Purchases":[total_purchase] ,
                               "Total Revenue":[tot_revenue]
                              })
  
#Optional: give the displayed data cleaner formatting
#Display the summary data frame
sales_summary_df.style.format({"Average Price":"${:,.2f}",
                        "Total Revenue": '${:,.2f}'})

In [4]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

#group by gender
gender_group_df=purchase_data.groupby("Gender")

#count per group
count_gender=gender_group_df["SN"].nunique()

#count_gender
percentage_gender=(count_gender/players_count)*100

#Gender Demographics
gender_demographics_df=pd.DataFrame({"Total Count":count_gender, "Percentage of Players":percentage_gender})


# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [5]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Total number of purchases per gender
Purchase_Count=gender_group_df["Purchase ID"].count()

#Average purchase price calculation per gender
Average_Purchase_Price=gender_group_df["Price"].mean()

#Total value of purchase per gender
Total_Purchase_Value=gender_group_df["Price"].sum()

#Average Total Purchase per person per gender
Avg_Total_Purchase_per_Person=Total_Purchase_Value/count_gender

#Create a summary data frame to hold the results
Purchasing_Analysis_df=pd.DataFrame({"Purchase Count":Purchase_Count, "Average Purchase Price":Average_Purchase_Price
                                    ,"Total Purchase Value":Total_Purchase_Value, "Avg Total Purchase per Person":Avg_Total_Purchase_per_Person})

#Optional: give the displayed data cleaner formatting
#Display the summary data frame
Purchasing_Analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [6]:
#add max age
max_age=max(purchase_data["Age"])+1
#Bin the purchase_data data frame by age
age_bins=[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, max_age]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_labels)

#purchase_data calculation

age_grouped_df = purchase_data.groupby("Age Group")
Total_Count_by_age=age_grouped_df["SN"].nunique()
Percentage_of_Players=(Total_Count_by_age/players_count) * 100

#Create a summary data frame to hold the results
Age_Demographics_df=pd.DataFrame({"Total Count": Total_Count_by_age
                                  ,"Percentage of Players": Percentage_of_Players})

#Optional: give the displayed data cleaner formatting
#Display the summary data frame
Age_Demographics_df.style.format({"Percentage of Players":"{:,.2f}"})

In [7]:
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
Purchase_Count= age_grouped_df["Purchase ID"].count()

# Obtain average purchase price by age group 
Average_Purchase_Price = age_grouped_df["Price"].mean()

# Calculate total purchase value by age group 
Total_Purchase_Value = age_grouped_df["Price"].sum()

# Calculate the average purchase per person in the age group 
Avg_Total_Purchase_per_Person= Total_Purchase_Value/Total_Count_by_age


#Create a summary data frame to hold the results
Purchasing_Analysis_by_Age_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                                 "Average Purchase Price": Average_Purchase_Price,
                                 "Total Purchase Value":Total_Purchase_Value,
                                 "Avg Total Purchase per Person": Avg_Total_Purchase_per_Person})


#Optional: give the displayed data cleaner formatting
#Display the summary data frame
Purchasing_Analysis_by_Age_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

In [8]:
#Run basic calculations to obtain the results in the table below
spenders_grouped_df = purchase_data.groupby("SN")

# Count the total purchases by ID
Purchase_Count_by_spend = spenders_grouped_df["Purchase ID"].count()

# Calculate the average purchase by ID 
Average_Purchase_Price_spender = spenders_grouped_df["Price"].mean()

# Calculate total purchase 
Total_Purchase_Value_spender = spenders_grouped_df["Price"].sum()

#Create a summary data frame to hold the results
top_spenders_df = pd.DataFrame({"Purchase Count": Purchase_Count_by_spend,
                             "Average Purchase Price": Average_Purchase_Price_spender,
                             "Total Purchase Value":Total_Purchase_Value_spender})

#Sort the total purchase value column in descending order
sorted_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame
sorted_spenders_df.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [9]:
#Retrieve the Item ID, Item Name, and Item Price columns
get_items_df = purchase_data[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
group_items_df=get_items_df.groupby(["Item ID","Item Name"])

purchase_count=group_items_df["Price"].count()

total_purchase_value=group_items_df["Price"].sum()

item_price=total_purchase_value/purchase_count

#Create a summary data frame to hold the results
most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":total_purchase_value})


#Sort the purchase count column in descending order
sorted_most_popular_items_df = most_popular_items_df.sort_values(["Purchase Count"], ascending=False).head()


#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame
sorted_most_popular_items_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [10]:
#Sort the above table by total purchase value in descending order
sorted_purchase_value_df = most_popular_items_df.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame
sorted_purchase_value_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})