In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_date.head()

In [2]:
# Use len/value count on player ID to find unique palyers 
players_count = len(purchase_data["SN"].value_counts())

# Create a data frame with total players named player count
total_players_df = pd.DataFrame({"Total Players":[players_count]})
total_players_df

   Total Players
0            576

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.

#Unique Items
unique_items_count = len(purchase_data["Item ID"].value_counts())

# Average Price
avg_price=purchase_data["Price"].mean()

# Number of purchases
total_purchase=purchase_data["Purchase ID"].count()

#Total Revenue
tot_revenue=purchase_data["Price"].sum()

#Create a summary data frame to hold the results

sales_summary_df=pd.DataFrame({"Number of Unique Items":[unique_items_count],
                               "Average Price":[avg_price], 
                               "Number of Purchases":[total_purchase] ,
                               "Total Revenue":[tot_revenue]
                              })
    
#Optional: give the displayed data cleaner formatting
sales_summary_df.style.format({"Average Price":"${:,.2f}",
                         "Total Revenue": '${:,.2f}'})

#Display the summary data frame

In [4]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

#group by gender
gender_group_df=purchase_data.groupby("Gender")

#count per group
count_gender=gender_group_df["SN"].nunique()

#count_gender
percentage_gender=(count_gender/players_count)*100

#Gender Demographics
gender_demographics_df=pd.DataFrame({"Total Count":count_gender, "Percentage of Players":percentage_gender})


# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [5]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Purchase_Count=gender_group_df["Purchase ID"].count()

Average_Purchase_Price=gender_group_df["Price"].mean()

Total_Purchase_Value=gender_group_df["Price"].sum()

Avg_Total_Purchase_per_Person=Total_Purchase_Value/count_gender

#Create a summary data frame to hold the results
Purchasing_Analysis_df=pd.DataFrame({"Purchase Count":Purchase_Count, "Average Purchase Price":Average_Purchase_Price
                                    ,"Total Purchase Value":Total_Purchase_Value, "Avg Total Purchase per Person":Avg_Total_Purchase_per_Person})

#Optional: give the displayed data cleaner formatting
Purchasing_Analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

#Display the summary data frame

In [6]:
#add lenth
#Bin the purchase_data data frame by age
age_bins=[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_labels)
#purchase_data

#Create a summary data frame to hold the results
age_grouped_df = purchase_data.groupby("Age Group")
Total_Count_by_age=age_grouped_df["SN"].nunique()
Percentage_of_Players=(Total_Count_by_age/players_count) * 100
Age_Demographics_df=pd.DataFrame({"Total Count": Total_Count_by_age,"Percentage of Players": Percentage_of_Players})

#Optional: give the displayed data cleaner formatting
Age_Demographics_df.style.format({"Percentage of Players":"{:,.2f}"})

#Display the summary data frame

In [7]:
#Bin the purchase_data data frame by age


#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
Purchase_Count= age_grouped_df["Purchase ID"].count()

# Obtain average purchase price by age group 
Average_Purchase_Price = age_grouped_df["Price"].mean()

# Calculate total purchase value by age group 
Total_Purchase_Value = age_grouped_df["Price"].sum()

# Calculate the average purchase per person in the age group 
Avg_Total_Purchase_per_Person= Total_Purchase_Value/Total_Count_by_age


#Create a summary data frame to hold the results
Purchasing_Analysis_by_Age_df = pd.DataFrame({"Purchase Count": Purchase_Count,
                                 "Average Purchase Price": Average_Purchase_Price,
                                 "Total Purchase Value":Total_Purchase_Value,
                                 "Avg Total Purchase per Person": Avg_Total_Purchase_per_Person})


#Optional: give the displayed data cleaner formatting
Purchasing_Analysis_by_Age_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})


#Display the summary data frame